NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_KEY=

GEMINI_API_KEY=

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=
SHOPIFY_SESSION_STORAGE=prisma
OCR_API_BASE_URL=
OCR_API_SHARED_SECRET=
SYNC_API_BASE_URL=https://track-to-inventory-1.onrender.com
SYNC_API_SHARED_SECRET=e289b2a093145ed85521a967d8f0013a56cf669cf320e04a7dc1783f7709b5cf

DATABASE_URL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

RESEND_API_KEY=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
