node_modules
.DS_Store

/.cache
/build
/app/build
/apps/web/build
/public/build/
/public/_dev
/app/public/build
/apps/web/public/build
/apps/web/public/_dev
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/apps/web/prisma/dev.sqlite
/apps/web/prisma/dev.sqlite-journal
database.sqlite

.env

.env.*
!.env.example





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
/apps/web/.shopify/*
/apps/web/.shopify.lock
